.flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex {
	display: flex;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

.flex-center-auto {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-grow: 1;
}
