.input {
	position: relative;

	&__label {
		position: absolute;
		left: 0;
		top: 0;
		padding: 0.25rem;
		margin: calc(0.5rem * 0.75 + 3px) 0.25rem;
		white-space: nowrap;
		transform: translate(0, 0);
		transform-origin: 0 0;
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.2;
		transition: transform 120ms ease-in;
	}

	&:-internal-autofill-selected {
		background: #010319;
	}
}

input:-internal-autofill-selected {
	background-color: #010319 !important;
}
