@use '../../assets/styles/abstracts' as var;

h1 {
	padding: 1rem;

	@media all and (max-width: 480px) {
		padding: 1rem 0;
	}
}

.icon-theme {
	font-size: 1.6rem;
	cursor: pointer;
	transition: all 120ms ease-in;

	&:hover {
		transform: scale(1.5);
	}
}

.text-highlight {
	color: var.$color-primary;
}

.header-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}
