@use '../../assets/styles/abstracts' as var;

h1 {
	padding: 1rem;

	@media all and (max-width: 480px) {
		padding: 1rem 0;
	}
}

.text-highlight {
	color: var.$color-primary;
}

.header-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}
