// COLORS
$color-primary: #d103fc;
$color-primary-light: #7d80aa;

$color-secondary: #010319;
$color-secondary-light: #0a155a;

$color-tertiary: #48466b;
$color-tertiary-light: #bbc2d8;

$color-fourth: #3d47af;
$color-fourth-light: #4f74ff;

$color-black: #000000;
$color-white: #ffffff;

// FONTS
$font-size-base: calc(10px + 2vmin);
$font-size-small: 0.7rem;
$font-color-base: $color-white;
$font-weight-bold: 700;

//  MAIN WIDTH
$width-desktop: 55rem;
